body, html {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #222;
    }

    .hero {
      background: url('images/bg.jpg') no-repeat center center fixed;
      background-size: cover;
      height: 100vh;
      position: relative;
      color: rgb(148, 148, 148);
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    .hero-text {
      position: relative;
      z-index: 2;
      text-align:left;
      top: 40%;
      left: 20%;
    }

    .hero-text h1 {
      font-size: 4rem;
      font-weight: bold;
    }

    .hero-text p {
      font-size: 1.2rem;
      color: #fff;
    }
/* header */
    
    nav.navbar {
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 3;
    }

    .nav-link {
      color: black !important;
      font-weight: bold;
    }

    .nav-link:hover {
      color: #9392ce !important;
     
    }

     .about-section img {
      max-width: 100%;
      border-radius: 10px;
      
    }
     .about-section h6{
      color: #e605fa;
     }

     .about-section h1,h2,p{
      color: aliceblue;
     }
    
     

     /*about page*/

      .banner {
      /* background: url('your-banner.jpg') center/cover no-repeat; */
      height: 50vh;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      text-shadow: 2px 2px 4px #000;
    }
    .form-section {
      display: flex;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;
    }
    .form-container {
      /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('login-bg.jpg') center/cover; */
      padding: 2rem;
      border-radius: 10px;
      color: white;
      width: 100%;
      max-width: 400px;
    }


    /*contact*/
    .contact-section {
      padding: 60px 0;
      background-color: #f8f9fa;
    }

    .contact-card {
      background: white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    }

    .form-control:focus {
      border-color: #0d6efd;
      box-shadow: none;
    }

    .contact-image {
      max-width: 100%;
      border-radius: 10px;
    }

    h2 {
      font-weight: 600;
      margin-bottom: 20px;
    }

    .btn-custom {
      background-color: #0d6efd;
      color: white;
      font-weight: 500;
    }

    .btn-custom:hover {
      background-color: #084298;
    }